
body{
    background: black;
    color: wheat;
    height: 100vh;
width: 100vh;
text-align: center;
}

#myclock{
    position: relative;
    display: flex;
    flex-wrap: wrap;
color: yellow;
text-align: center;
font-size: 5rem;
font-weight: bolder;
border: 8px solid red;
border-radius: 8px;
height: 7rem;
width: 100%;
top:40%;
}

 a{
position:absolute;
top:70%;
text-decoration:none;
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
 a:hover{
    color: crimson;
    background: #fff;
}
