
.wrapper {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    font-size: large,;
    
    
    
  }
  body{
    background-color: lime;
  }


.five {
    grid-column: 2;
    grid-row: 1;
background-color: lightsteelblue;
margin-top: 3rem;
height: 5rem;
border: solid yellow;
text-align: center;
font-size: larger;
display: flex;
word-spacing: 10px;
  justify-content: center;
  width: 50%;
  }
  .five button{
    cursor: pointer;
  width: 4rem;
  height: 2rem;
  font-weight: bold;
  border: solid red;
  border-radius: 3px;
  
  }
.five button:hover{
  background-color: #555555;
    
  }
  #userInput{
    background-color: lavenderblush;
    width: 10rem;
    height: 30px;
    font-size: medium;
    
  }


  .four {
    display: inline block;
    grid-column: 2;
    grid-row: 1.09;
background-color: gold;
margin-top: 3rem;
border: solid navy;
height: auto;
width: 50%;


  }
  .four button{
display: flex;
   cursor: pointer;
  width: 4rem;
  height: 1.5rem;
  font-weight: bold;
  border: solid red;
  border-radius: 3px;
  }
 .four button :hover{
  background-color: #555555;
 }
 .four li{
   border: 3px solid black;
   
 }
  #showlist{
    font-size: larger;

    list-style-type: none;
  }
 
   a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
text-decoration:none;
}
 a:hover{
    color: crimson;
    background: #fff;
}
